* {
    font-family: 'Noto Sans', sans-serif;
}

html {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    border: 0;
    background-color: white;
    padding-bottom: 2rem;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 4.5rem;
    top: 0;
    background-color: white;
    line-height: 4.5rem;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
    padding-left: 1.5rem;
    position: fixed;
    transition: top 0.2s ease-in-out;
}

.headerTitle {
    font-weight: bold;
    margin-right: 1.5rem;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.headerTitle:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}

.subjects {
    padding: 0.5rem 0.7rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 2rem;
    color: black;
    text-decoration: none;
}

.dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.45rem;
    display: inline-block;
    margin-right: 0.3rem;
}

.dot.maths {
    background-color: #5959ff;
}

.dot.physics {
    background-color: #f8f409;
}

.dot.chemistry {
    background-color: #a65b21;
}

.dot.cs {
    background-color: #c23a25;
}

.dot.choose {
    background-color: #d8d8d8;
}

.titleDot.maths {
    color: #5959ff;
}

.titleDot.physics {
    color: #f8f409;
}

.titleDot.chemistry {
    color: #a65b21;
}

.titleDot.cs {
    color: #c23a25;
}

.titleDot.choose {
    color: #c23a25;
}

.mainTitle.maths:hover {
    color: rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}

.subjects:hover {
    -webkit-box-shadow: inset 5px 5px 26px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 5px 5px 26px 0px rgba(0,0,0,0.05);
    box-shadow: inset 5px 5px 26px 0px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: 0.2s;
}

.subjects.selected {
    -webkit-box-shadow: inset 5px 5px 26px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 5px 5px 26px 0px rgba(0,0,0,0.05);
    box-shadow: inset 5px 5px 26px 0px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: 0.2s;
}

main {
    padding: 2rem;
    margin-top: 4.5rem;
}

.sectionTitle {
    font-weight: bold;
    font-size: 3rem;
}

.sectionSubtitle {
    display: block;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.articleList {
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    padding: 0rem 0.7rem 1rem 0.7rem;
    margin-top: 2rem;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
}

.topicName {
    line-height: 1rem;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
    margin-top: 1.5rem;
}

#topicIcon {
    line-height: 1rem;
    vertical-align: middle;
    margin-bottom: 0.2rem;
    font-size: 22px;
}

.topicContent {
    display: inline-block;
    margin-top: 0.3rem;
}

.headerRight {
    float: right;
    height: 4.5rem;
    line-height: 4.5rem;
}

#headerInfoIcon {
    font-size: 28px;
}

#headerInfoIconDark {
    font-size: 28px;
}

.infoIconLink {
    display: inline-block;
    border-radius: 100%;
    margin-right: 3rem;
    line-height: 4.5rem;
    vertical-align: middle;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.infoIconLinkDark {
    display: inline-block;
    border-radius: 100%;
    margin-right: 3rem;
    line-height: 4.5rem;
    vertical-align: middle;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.infoIconLink:hover {
    background-color: rgb(245, 245, 245);
    transition: ease-in-out 0.3s;
}

.infoIconLinkDark:hover {
    background-color: rgb(245, 245, 245);
    transition: ease-in-out 0.3s;
}

.infoIconLink.dark:hover {
    background-color: #2b2b2b;
    transition: ease-in-out 0.3s;
}

.infoIconLinkDark.dark:hover {
    background-color: #2b2b2b;
    transition: ease-in-out 0.3s;
}

.nav-up {
    top: -4.5rem;
}

.infoBox {
    position: fixed;
    top: 6rem;
    right: 1rem;
    width: 20rem;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    border-radius: 1rem;
    padding: 1rem;
    display: none;
}

.subjectBox {
    position: fixed;
    top: 6rem;
    left: 1rem;
    width: 20rem;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    border-radius: 1rem;
    padding: 1rem;
    display: none;
}

.subjectExitHolder {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    float: right;
    color: black;
    text-decoration: none;
}

.subjectExitHolder:hover {
    background-color: rgb(232, 232, 232);
    transition: ease-in-out 0.3s;
}

#subjectExitButton {
    font-size: 18px;
}

.infoIconLink.selected {
    background-color: rgb(245, 245, 245);
    transition: ease-in-out 0.3s;
}

.subjectListItem {
    margin-left: 0.5rem;
}

.subjectItemLink {
    display: inline-block;
    background-color: rgb(238, 238, 238);
    width: calc(100% - 1rem);
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.subjectItemLink:hover {
    background-color: rgb(232, 232, 232);
    transition: 0.2s ease-in-out;
}

.subjectItemLink.selected {
    background-color: rgb(232, 232, 232);
    cursor: default;
}

.subjectList {
    display: block;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin-top: 1rem;
}

.subjectListSubject {
    display: block;
    border: 1px solid lightgray;
    background-color: #fcfcfc;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    border-radius: 0.5rem;
    width: calc(50vw - 5rem);
}

.subjectListSubject:hover {
    background-color: #f0f0f0;
    transition: 0.2s ease-in-out;
}

.darkToggle {
    margin-right: 1rem;
}

.left {
    border-radius: 1rem;
    width: 47%;
    float: left;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    overflow-y: scroll;
}

.right {
    border-radius: 1rem;
    width: 47%;
    float: right;
    height: 81vh;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

textarea {
    width: 99%;
    resize: none;
    border: none;
    outline: none;
    height: 65vh;
}

.button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: black;
    background-color: white;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.28);
    display: inline-block;
}

.importBackground {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.import {
    position: fixed;
    width: 35vw;
    height: 30vh;
    left: 32.5vw;
    top: 35vh;
    border-radius: 2rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 19px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 19px 19px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 19px 19px -10px rgba(0,0,0,0.75);
}

.uploadTitle {
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
}

input#file {
    display: inline-block;
    width: 100%;
    padding-top: 120px;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://www.materialui.co/materialIcons/file/cloud_upload_black_192x192.png') center center no-repeat #ffffff;
    background-size: 60px 60px;
}

input#file:focus {
    outline: none;
}

.uploadButton {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.importCancel {
    color: black;
    text-align: center;
    display: block;
}

.textInput {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    width: 90%;
    outline: none;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.author {
    margin-right: 1rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.image {
    width: 30rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    background-color: #f5f5f5;
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    max-width: calc(100% - 1rem);
}

.articleImage {
    width: 30rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: white;
    width: 100%;
}

.articleImageNoSubtitle {
    width: 30rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    max-width: calc(100% - 1rem);
}

.articleImageSubtitleOuter {
    padding: 0.8rem 1rem;
}

.text {
    display: block;
    margin-top: 1rem;
    line-height: 1.5rem;
    vertical-align: middle;
}

.bulletPoint {
    line-height: 1rem;
    vertical-align: middle;
    font-size: 0.7rem;
    margin-right: 0.3rem;
}

.bold {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

.italic {
    display: block;
    margin-top: 1rem;
    font-style: italic;
}

.underline {
    display: block;
    margin-top: 1rem;
    text-decoration: underline;
}

.ytNoSubtitle {
    width: 30rem;
    height: 16.875rem;
    margin-top: 1.5rem;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    max-width: calc(100% - 1rem);
}

.ytOuter {
    width: 30rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    background-color: #f5f5f5;
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: calc(100% - 1rem);
}

.yt {
    width: 30rem;
    height: 16.875rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 100%;
}

.code {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -5px rgb(0 0 0 / 75%);
    font-family: 'Consolas', monospace;
}

.articleButton {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.42); 
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.42);
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 1rem;
    width: calc(100% - 3.4rem);
    margin-left: 0.7rem;
    color: black;
    text-decoration: none;
}

.articleButton:hover {
    border: none;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.60); 
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.60);
}

.articleSearch {
    background-color: #f5f5f5;
    -webkit-box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 75%);
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 1rem;
    width: calc(100% - 3.4rem);
    margin-left: 0.7rem;
    color: black;
    text-decoration: none;
    border: none;
    outline: none;
    margin-bottom: 1rem;
}

.articleSearch:hover {
    background-color: #ebebeb;
    transition: 0.2s ease-in-out;
}

.articleSearch:focus {
    background-color: #ebebeb;
    transition: 0.2s ease-in-out;
}

a.inlineLink {
    display: block;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.html {
    display: block;
    margin-top: 0.7rem;
}

.textInner {
    line-height: 1rem;
    vertical-align: middle;
}

.textContainer {
    display: block;
    margin-top: 1rem;
    line-height: 1rem !important;
    vertical-align: middle;
}